PORT=4550
DB_HOST=localhost
DB_PORT=5432
DB_USER=tu_usuario
DB_PASS=tu_password
DB_NAME=tu_base_de_datos
DB_SYNC=false
SMTP_HOST=email-smtp.<region>.amazonaws.com
SMTP_PORT=587
SMTP_USER=AKIA...SES_SMTP_USER
SMTP_PASS=ses_smtp_password
SMTP_FROM=tusitio@tudominio.com
